/*Lighthouse Labs
* Week 4, Day 1
* tweeter
* Anil Patel*/

header { 
  height: 400 px;
  color: #FFFFFF;
  background-color: #b0c4de; 
  font-family: 'Bungee', cursive bold;
  width: 100%; 
  display: flex; 
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
}

/**
<header>
  <div></div>
  <br />
  <div></div>
</header>
*/

header div {
  display: flex;
  justify-content: center;
}

