/*Lighthouse Labs
* Week 4, Day 2
* tweeter
* Anil Patel*/

.submit-container { 
  height: 400 px;
  color: #FFFFFF;
  background-color: #b0c4de; 
  font-family: 'Source+Sans+Pro', bold;
  width: 100%; 
  display: flex; 
  justify-content: space-between; 
}

/* Tweeter button*/
.submit-container button {
  display:inline-block;
  width:2em;
  border-left: 1px #4056A1;
  padding-left: 1em;
  margin-left: 1em;
  content: button(line);
}

/* counter button*/
.submit-container button {
  display:inline-block;
  width:2em;
  border-right: 1px black solid;
  padding-right: 1em;
  margin-right: 1em;
  content: counter(line);
}

/* What are you Humming */
form label {
  box-sizing: border-box;
}
form {
  margin: 20px;
}
.action {
  color: turquoise;
}
textarea {
  padding: 20px;
  min-height: 200px;
  width: 100%;
  border: none;
  border-top: 8px solid #bbb;
  border-radius: 5px;
  /* Rounded border */
}

/*header div {
  display: flex;
  justify-content: center;
} */